<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.truepower" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TruePower" >
        <activity
            android:name=".EnergyCalculatorActivity"
            android:exported="true"
            android:label="@string/energy_calculator"/>
        <activity
            android:name=".EditMealActivity"
            android:exported="true"
            android:label="@string/edit_meal" />
        <activity
            android:name=".AddMealActivity"
            android:exported="true"
            android:label="@string/add_meal" />
        <activity
            android:name=".EditRoutineActivity"
            android:exported="true"
            android:label="" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:label="@string/sign_up" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="true" />
        <activity
            android:name=".AddRoutineActivity"
            android:exported="true"
            android:label="" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/login" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".RoutineActivity"
            android:exported="true"
            android:label="" />
        <activity
            android:name=".HealthActivity"
            android:exported="true"
            android:label="@string/my_health" />
        <activity
            android:name=".WorkoutActivity"
            android:exported="true"
            android:label="@string/my_workout" />
        <activity
            android:name=".MealActivity"
            android:exported="true"
            android:label="@string/my_meal" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:label="@string/home" />
        <activity
            android:name=".SplashScreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>