<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.truepower">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TruePower">
        <activity
            android:name=".MusicActivity"
            android:exported="true"
            android:label="@string/music_player"/>
        <activity
            android:name=".CountdownTimer"
            android:exported="true"
            android:label="@string/countdown_timer" />
        <activity
            android:name=".BMICalculator"
            android:exported="true"
            android:label="@string/bmi_topic" />
        <activity
            android:name=".EditWorkoutActivity"
            android:exported="true"
            android:label="@string/edit_workout_topic" />
        <activity
            android:name=".AddWorkout"
            android:exported="true"
            android:label="@string/add_workout_topic" />
        <activity
            android:name=".AlarmNotification"
            android:exported="true"
            android:label="@string/tv_alarm_notification_label" />
        <activity
            android:name=".EnergyCalculatorActivity"
            android:exported="true"
            android:label="@string/energy_calculator" />
        <activity
            android:name=".BMRCalculatorActivity"
            android:exported="true"
            android:label="@string/tv_bmr_calculator_label" />
        <activity
            android:name=".EditMealActivity"
            android:exported="true"
            android:label="@string/edit_meal" />
        <activity
            android:name=".AddMealActivity"
            android:exported="true"
            android:label="@string/add_meal" />
        <activity
            android:name=".EditRoutineActivity"
            android:exported="true"
            android:label="@string/tv_edit_routine_label" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:label="@string/sign_up" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="true" />
        <activity
            android:name=".AddRoutineActivity"
            android:exported="true"
            android:label="@string/tv_add_routine_label" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/login" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".RoutineActivity"
            android:exported="true"
            android:label="@string/my_routine" />
        <activity
            android:name=".HealthActivity"
            android:exported="true"
            android:label="@string/my_health" />
        <activity
            android:name=".WorkoutActivity"
            android:exported="true"
            android:label="@string/my_workout" />
        <activity
            android:name=".MealActivity"
            android:exported="true"
            android:label="@string/my_meal" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:label="@string/home" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlertReceiver" />
    </application>

</manifest>